# GetYourGuide Integrator/Supplier Credentials

# GetYourGuide Integrator/Supplier Credentials
GYG_INTEGRATOR_USERNAME=
GYG_INTEGRATOR_PASSWORD=

# GetYourGuide Partner API
GYG_PARTNER_API_KEY=
GYG_PARTNER_ID=
GYG_API_BASE_URL=https://api.getyourguide.com/1
