# GetYourGuide Integrator/Supplier Credentials (from Portal)
GYG_INTEGRATOR_USERNAME=TripVega
GYG_INTEGRATOR_PASSWORD=7a381076927e62da453ee16d24c052df

# Viator Partner API (Sandbox)
VIATOR_API_KEY=fad9e3c8-ecad-446a-81fb-40281a8e3334
VIATOR_API_BASE_URL=https://api.sandbox.viator.com/partnerKö
